<div class="loading-shade" *ngIf="dataSource?.isLoading$ | async; else showTables">
  <span class="loading-text">
    Loading records... {{ dataSource?.readings.length }}
  </span>
  <mat-spinner></mat-spinner>
</div>

<ng-template #showTables>
  <div class="table-container">
    <app-readings-table [dataSource]="dataSource"></app-readings-table>
    <app-medians-table [dataSource]="dataSource"></app-medians-table>
  </div>
</ng-template>

<app-chart
  *ngIf="(dataSource?.isLoading$ | async) === false"
  [readings]="dataSource?.readings"
></app-chart>
